<div class="portfolio">

	{% block content %}
	{% if post['title'] %}
							<h2 class="title">
								<a href="$post.url" rel="bookmark" title="${ "Permanent Link to" | translate } &quot;$post.title&quot;">$post.title</a>
							</h2>
{% endif %}
  ${ feathers['project'].image_tag_for(post, 200) }
  <div class="description">
	  <h3><em>Website</em> <a href="$post.project_url">$post.project_url</a></h3>
		<h3><em>Client</em> <a href="$post.client_url">$post.client</a></h3>
	  $post.description
  </div>
{% endblock %}
	<br class="clear" />
</div>