{% extends "content/post.twig" %}

{% block content %}
{% if post['title'] %}
						<h2><a href="$post.url" rel="bookmark" title="${ "Permanent Link to" | translate } &quot;$post.title&quot;">$post.title</a></h2>
                        {% if post.source %}<span class="slink"><a href="$post.source" class="link">${ post.source | truncate(40,1) }</a>&nbsp;&rarr;</span>{% endif %}
                        <div class="score green $post.rating"></div> 
{% endif %}
						{% if post.body %}
                            ${ post.body | read_more }
                        {% endif %}
                        
{% endblock %}
